.octicon
  fill: #E0E0E0;
  &.mark-github
    height: 32px;
    width: 32px;
  &.history
    height: 18px;
    width: 18px;
  &.code
    height: 18px;
    width: 18px;

.hexo-github
  padding: 8px 0px;
  *
    box-sizing: border-box;

.github-badge
  transition: all 0.5s ease-in-out;
  color: white;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  font-family: 'Open Sans', Arial, sans-serif;
  &:hover
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  a
    text-decoration: none;
    color: inherit;
    &:hover
      text-decoration: underline;
  .header
    background: #4CAF50;
    min-height: 64px;
    overflow-y: hidden;
    padding-right: 16px;
    .number
      float: right;
      height: 64px;
      padding-right: 8px;
      position: relative;
      opacity: 0.3;
      right: 0px;
      font-size: 72px;
    .star
      position: absolute;
      right: 0px;
      padding: 16px;
    .avatar
      pointer-events: none;
      position: relative;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%;
      margin-top: -32px;
      opacity: 0;
      transform: scale(10);
      transition: all 0.5s ease-in-out;
      img
        width: 32px;
        height: 32px;
      &.show
        opacity: 1;
        transform: scale(1);
    .icon
      pointer-events: none;
      float: left;
      width: 64px;
      height: 64px;
      padding: 16px;
      text-align: center;
      .mark
        height: 32px;
        opacity: 1;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        &.back
          opacity: 0;
          transform: scale(10);
    .content
      float: left;
      padding: 16px 0px;
      height: 100%;
      line-height: 32px;
      h3
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        height: 16px;
        margin: 0px;
  .info
    background: #2E7D32;
    min-height: 32px;
    cursor: pointer;
    padding-right: 16px;
    .icon
      line-height: 16px;
      float: left;
      height: 32px;
      width: 64px;
      padding: 8px 0px;
      text-align: center;
      z-index: 1;
      .circle
        opacity: 0.9;
        position: absolute;
        background: rgba(66, 66, 66, 0.5);
        border-radius: 50%;
        background-clip: border-box;
        left: 20px;
        margin-top: -4px;
        width: 24px;
        height: 24px;
        z-index: 0;
        padding: 3px;
    .status
      line-height: 16px;
      padding: 8px 0px;
      opacity: 0.8;
  .commits
    padding-right: 16px;
    overflow: hidden;
    background: #212121;
    height: auto;
    color: #E0E0E0;
    transition: all 0.5s ease-in-out;
    &.fold
      max-height: 0px;
      .entry
        opacity: 0;
        .item
          .icon
            transform: translateY(11px) scale(0);
          .text
            transform: translateX(100%);
    .line
      position: absolute;
      width: 2px;
      left: 31px;
      height: 100%;
      background: #E0E0E0;
      opacity: 0.3;
    .entry
      transition: all 0.5s ease-in-out;
      opacity: 1;
      padding: 8px 0px;
      .item
        padding: 0px 0px;
        min-height: 16px;
        .icon
          transition: all 0.5s ease-in-out;
          transform: scale(1);
          float: left;
          width: 64px;
          padding: 3px 24px;
          .circle
            position: absolute;
            background: rgba(66, 66, 66, 0.9);
            border-radius: 50%;
            background-clip: border-box;
            left: 20px;
            margin-top: 0px;
            width: 24px;
            height: 24px;
            padding: 3px;
            &.active
              background: rgba(76, 175, 80, 0.9);
              &:before
                -webkit-animation: breath 1.4s infinite ease-in-out;
                -moz-animation: breath 1.4s infinite ease-in-out;
                animation: breath 1.4s infinite ease-in-out;
                content: "";
                position: absolute;
                background: rgba(76, 175, 80, 0.3);
                border-radius: 50%;
                background-clip: border-box;
                left: -4px;
                margin-top: -4px;
                width: 30px;
                height: 30px;
                @-moz-keyframes breath
                  0%
                    transform: scale(1);
                  50%
                    transform: scale(1.2);
                  0%
                    transform: scale(1);
                @-webkit-keyframes breath
                  0%
                    transform: scale(1);
                  50%
                    transform: scale(1.2);
                  0%
                    transform: scale(1);
                @keyframes breath
                  0%
                    transform: scale(1);
                  50%
                    transform: scale(1.2);
                  0%
                    transform: scale(1);
        .text
          transition: all 0.5s ease-in-out;
          transform: translateX(0%);
          opacity: 0.5;
          margin-left: 64px;
          padding: 3px;
          &.active
            opacity: 0.9;

